# Framework para criar a API
Flask
Flask-RESTful

# ORM para interação com o banco de dados
SQLAlchemy
Flask-SQLAlchemy
Alembic

# Para manipulação de dados
Pandas
Faker

# Para visualização de dados
Matplotlib

# Para rodar testes
pytest
pytest-cov

# Ferramenta de logs
loguru

# Lidar com variáveis de ambiente
python-dotenv

# CSRF protection e cache
Flask-WTF
Flask-Caching

coverage
Mako
wtforms
click
blinker
cachelib
Jinja2
Werkzeug
fpdf
psutil