# Backend - Flask, API, ORM, Database
Flask
Flask-RESTful
Flask-Cors
Flask-SQLAlchemy
SQLAlchemy
Alembic

# Para manipulação de dados
Pandas
Faker

# Para visualização de dados
Matplotlib

# Testes
pytest
pytest-cov

# Utilitários
python-dotenv
loguru

# CSRF protection, Cache, Form Handling
Flask-WTF
Flask-Caching

# Outros utilitários
coverage
Mako
wtforms
click
blinker
cachelib
Jinja2
Werkzeug
fpdf
psutil
